plotly==5.16.1
numpy
pyyaml~=6.0.1
pyhyphen==4.0.3
dill~=0.3.7
bidict~=0.22.1
tenacity~=8.2.2
jsonlines~=4.0.0
asteval
Markdown==3.5.1
Flask==3.0.0
Flask-SocketIO==5.3.6
Werkzeug==3.0.1
simple-websocket==1.0.0
pillow~=10.0.1
html2text~=2020.1.16
beautifulsoup4~=4.12.3
flask_cors
dill
MinimalLLM@git+https://github.com/EvoEvolver/MinimalLLM
Moduler@git+https://github.com/EvoEvolver/Moduler
Forest@git+https://github.com/EvoEvolver/Forest