numpy
nodejs-bin
psutil
pyyaml~=6.0.1
dill~=0.3.7
tenacity
jsonlines~=4.0.0
asteval
Markdown==3.5.1
pillow
html2text~=2020.1.16
beautifulsoup4~=4.12.3
nodejs-bin
MinimalLLM
Moduler@git+https://github.com/EvoEvolver/Moduler
